
@import 'root';
$bgColor: #cccccc;

body{
  background:$bgColor;
  width: 400px;
  margin: 0 auto;
  border: 1px solid red;
}

h1{
  color:$fontColorSecondary;
}

a{
  color: $fontColorLink;
}

p{
  color:$fontColorPrimary;
}



